.cover {
  height: 400px;
  width: 100%;
  background-image: url('../assets/cover.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
}

.home-text{
  font-weight: bolder;
  font-size: 2rem;
  color: #ffffff;
}

.home-text span{
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}

@media (max-width: 760px) {
  .cover {
    height: 350px;
    width: 100%;
    background-image: url('../assets/cover.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
  }
}

/* .home-text h1{
  padding-top: 100px;
} */